* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Amiri", serif;
  font-size: 1.6rem;
  direction: rtl;
}

body {
  height: 100vh;
  background-color: #e9e1e1;
}

body header {
  width: 90%;
  margin: auto;
  padding-top: 1rem;
  direction: ltr;
}

body header nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  color: rgba(7, 7, 7, 0.74);
}

body header nav ul a {
  font-size: 0.5rem;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  white-space: pre;
  font-size: 0.7rem;
}

body main .text-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .text-column .link-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.4rem;
  padding: 1rem 0 0 0;
  text-align: center;
}

body main p {
  font-family: "Amiri", serif;
}

body footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 25px;
  font-size: 0.4rem;
}

body footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

body footer img {
  height: 1rem;
  width: 1rem;
  margin: 0 5px;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: #463030;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06d85f;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #06d85f;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  -webkit-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06d85f;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

.image-top {
  background-image: url("../images/p09.jpg");
  height: 40rem;
  background-position: center;
  background-size: cover;
  text-align: center;
  text-shadow: -1px 1px 1px black;
  font-size: 0.7rem;
  color: white;
  padding-top: 5rem;
}

.index-body {
  background: #96aec4;
  height: 400vh;
}

.index-body h1 {
  color: #5467ce;
}

.index-body .index-main p {
  padding-top: 2rem;
  font-size: 0.8rem;
  color: #13085b;
}

/* Responsibility */
@media screen and (max-width: 980px) {
  .image-top {
    height: 20rem;
    font-size: 0.4rem;
    padding-top: 5rem;
  }
}
/*# sourceMappingURL=style.css.map */