<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Poems</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <!-- <link rel="stylesheet" href="../static/style/style.css"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Lemonada&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html" class="navi-link">Home</a></li>
                <li><a href="#" class="navi-link">About</a></li>
                <li><a href="#" class="navi-link">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <P>
            غزلیات حافظ شیرازی
        </P>

        <p>
            <a href="/hafez/poem/1">الا يا ايها الساقی ادر کاسا و ناولها</a>
            <a href="/hafez/poem/2">صلاح کار کجا و من خراب کجا</a>
            <a href="/hafez/poem/3">اگر آن ترک شيرازی به دست آرد دل ما را</a>
            <a href="/hafez/poem/4">صبا به لطف بگو آن غزال رعنا را</a>
            <a href="/hafez/poem/5">دل میرود ز دستم صاحب دلان خدا را</a>
            <a href="/hafez/poem/6">به ملازمان سلطان که رساند اين دعا را</a>
            <a href="/hafez/poem/7">صوفی بيا که آينه صافيست جام را</a>
            <a href="/hafez/poem/8">ساقيا برخيز و درده جام را</a>
            <a href="/hafez/poem/9">رونق عهد شباب است دگر بستان را</a>
            <a href="/hafez/poem/10">دوش از مسجد سوی ميخانه آمد پير ما</a>
            <a href="/hafez/poem/11">ساقی به نور باده برافروز جام ما</a>
            <a href="/hafez/poem/12">ای فروغ ماه حسن از روی رخشان شما</a>
            <a href="/hafez/poem/13">میدمد صبح و کله بست سحاب</a>
            <a href="/hafez/poem/14">گفتم ای سلطان خوبان رحم کن بر اين غريب</a>
            <a href="/hafez/poem/15">ای شاهد قدسی که کشد بند نقابت</a>
            <a href="/hafez/poem/16">خمی که ابروی شوخ تو در کمان انداخت</a>
            <a href="/hafez/poem/17">سينه از آتش دل در غم جانانه بسوخت</a>
            <a href="/hafez/poem/18">ساقيا آمدن عيد مبارک بادت</a>
            <a href="/hafez/poem/19">ای نسيم سحر آرامگه يار کجاست</a>
            <a href="/hafez/poem/20">روزه يک سو شد و عيد آمد و دلها برخاست</a>
            <a href="/hafez/poem/21">دل و دينم شد و دلبر به ملامت برخاست</a>
            <a href="/hafez/poem/22">چو بشنوی سخن اهل دل مگو که خطاست</a>
            <a href="/hafez/poem/23">خيال روی تو در هر طريق همره ماست</a>
            <a href="/hafez/poem/24">مطلب طاعت و پيمان و صلاح از من مست</a>
            <a href="/hafez/poem/25">شکفته شد گل حمرا و گشت بلبل مست</a>
            <a href="/hafez/poem/26">زلف آشفته و خوی کرده و خندان لب و مست</a>
            <a href="/hafez/poem/27">در دير مغان آمد يارم قدحی در دست</a>
            <a href="/hafez/poem/28">به جان خواجه و حق قديم و عهد درست</a>
            <a href="/hafez/poem/29">ما را ز خيال تو چه پروای شراب است</a>
            <a href="/hafez/poem/30">زلفت هزار دل به يکی تار مو ببست</a>
            <a href="/hafez/poem/31">آن شب قدری که گويند اهل خلوت امشب است</a>
            <a href="/hafez/poem/32">خدا چو صورت ابروی دلگشای تو بست</a>
            <a href="/hafez/poem/33">خلوت گزيده را به تماشا چه حاجت است</a>
            <a href="/hafez/poem/34">رواق منظر چشم من آشيانه توست</a>
            <a href="/hafez/poem/35">برو به کار خود ای واعظ اين چه فريادست</a>
            <a href="/hafez/poem/36">تا سر زلف تو در دست نسيم افتادست</a>
            <a href="/hafez/poem/37">بيا که قصر امل سخت سست بنيادست</a>
            <a href="/hafez/poem/38">بی مهر رخت روز مرا نور نماندست</a>
            <a href="/hafez/poem/39">باغ مرا چه حاجت سرو و صنوبر است</a>
            <a href="/hafez/poem/40">المنه لله که در ميکده باز است</a>
            <a href="/hafez/poem/41">اگر چه باده فرح بخش و باد گلبيز است</a>
            <a href="/hafez/poem/42">حال دل با تو گفتنم هوس است</a>
            <a href="/hafez/poem/43">صحن بستان ذوق بخش و صحبت ياران خوش است</a>
            <a href="/hafez/poem/44">کنون که بر کف گل جام باده صاف است</a>
            <a href="/hafez/poem/45">در اين زمانه رفيقی که خالی از خلل است</a>
            <a href="/hafez/poem/46">گل در بر و می در کف و معشوق به کام است</a>
            <a href="/hafez/poem/47">به کوی ميکده هر سالکی که ره دانست</a>
            <a href="/hafez/poem/48">صوفی از پرتو می راز نهانی دانست</a>
            <a href="/hafez/poem/49">روضه خلد برين خلوت درويشان است</a>
            <a href="/hafez/poem/50">به دام زلف تو دل مبتلای خويشتن است</a>
            <a href="/hafez/poem/51">لعل سيراب به خون تشنه لب يار من است</a>
            <a href="/hafez/poem/52">روزگاريست که سودای بتان دين من است</a>
            <a href="/hafez/poem/53">منم که گوشه ميخانه خانقاه من است</a>
            <a href="/hafez/poem/54">ز گريه مردم چشمم نشسته در خون است</a>
            <a href="/hafez/poem/55">خم زلف تو دام کفر و دين است</a>
            <a href="/hafez/poem/56">دل سراپرده محبت اوست</a>
            <a href="/hafez/poem/57">آن سيه چرده که شيرينی عالم با اوست</a>
            <a href="/hafez/poem/58">سر ارادت ما و آستان حضرت دوست</a>
            <a href="/hafez/poem/59">دارم اميد عاطفتی از جانب دوست</a>
            <a href="/hafez/poem/60">آن پيک نامور که رسيد از ديار دوست</a>
            <a href="/hafez/poem/61">صبا اگر گذری افتدت به کشور دوست</a>
            <a href="/hafez/poem/62">مرحبا ای پيک مشتاقان بده پيغام دوست</a>
            <a href="/hafez/poem/63">روی تو کس نديد و هزارت رقيب هست</a>
            <a href="/hafez/poem/64">اگر چه عرض هنر پيش يار بیادبيست</a>
            <a href="/hafez/poem/65">خوشتر ز عيش و صحبت و باغ و بهار چيست</a>
            <a href="/hafez/poem/66">بنال بلبل اگر با منت سر ياريست</a>
            <a href="/hafez/poem/67">يا رب اين شمع دل افروز ز کاشانه کيست</a>
            <a href="/hafez/poem/68">ماهم اين هفته برون رفت و به چشمم ساليست</a>
            <a href="/hafez/poem/69">کس نيست که افتاده آن زلف دوتا نيست</a>
            <a href="/hafez/poem/70">مردم ديده ما جز به رخت ناظر نيست</a>
            <a href="/hafez/poem/71">زاهد ظاهرپرست از حال ما آگاه نيست</a>
            <a href="/hafez/poem/72">راهيست راه عشق که هيچش کناره نيست</a>
            <a href="/hafez/poem/73">روشن از پرتو رويت نظری نيست که نيست</a>
            <a href="/hafez/poem/74">حاصل کارگه کون و مکان اين همه نيست</a>
            <a href="/hafez/poem/75">خواب آن نرگس فتان تو بی چيزی نيست</a>
            <a href="/hafez/poem/76">جز آستان توام در جهان پناهی نيست</a>
            <a href="/hafez/poem/77">بلبلی برگ گلی خوش رنگ در منقار داشت</a>
            <a href="/hafez/poem/78">ديدی که يار جز سر جور و ستم نداشت</a>
            <a href="/hafez/poem/79">کنون که میدمد از بوستان نسيم بهشت</a>
            <a href="/hafez/poem/80">عيب رندان مکن ای زاهد پاکيزه سرشت</a>
            <a href="/hafez/poem/81">صبحدم مرغ چمن با گل نوخاسته گفت</a>
            <a href="/hafez/poem/82">آن ترک پری چهره که دوش از بر ما رفت</a>
            <a href="/hafez/poem/83">گر ز دست زلف مشکينت خطايی رفت رفت</a>
            <a href="/hafez/poem/84">ساقی بيار باده که ماه صيام رفت</a>
            <a href="/hafez/poem/85">شربتی از لب لعلش نچشيديم و برفت</a>
            <a href="/hafez/poem/86">ساقی بيا که يار ز رخ پرده برگرفت</a>
            <a href="/hafez/poem/87">حسنت به اتفاق ملاحت جهان گرفت</a>
            <a href="/hafez/poem/88">شنيدهام سخنی خوش که پير کنعان گفت</a>
            <a href="/hafez/poem/89">يا رب سببی ساز که يارم به سلامت</a>
            <a href="/hafez/poem/90">ای هدهد صبا به سبا میفرستمت</a>
            <a href="/hafez/poem/91">ای غايب از نظر به خدا میسپارمت</a>
            <a href="/hafez/poem/92">مير من خوش میروی کاندر سر و پا ميرمت</a>
            <a href="/hafez/poem/93">چه لطف بود که ناگاه رشحه قلمت</a>
            <a href="/hafez/poem/94">زان يار دلنوازم شکريست با شکايت</a>
            <a href="/hafez/poem/95">مدامم مست میدارد نسيم جعد گيسويت</a>
            <a href="/hafez/poem/96">درد ما را نيست درمان الغياث</a>
            <a href="/hafez/poem/97">تويی که بر سر خوبان کشوری چون تاج</a>
            <a href="/hafez/poem/98">اگر به مذهب تو خون عاشق است مباح</a>
            <a href="/hafez/poem/99">بود آشفته همچون موی فرخ</a>
            <a href="/hafez/poem/100">دی پير می فروش که ذکرش به خير باد</a>
            <a href="/hafez/poem/101">شراب و عيش نهان چيست کار بیبنياد</a>
            <a href="/hafez/poem/102">دوش آگهی ز يار سفرکرده داد باد</a>
            <a href="/hafez/poem/103">روز وصل دوستداران ياد باد</a>
            <a href="/hafez/poem/104">جمالت آفتاب هر نظر باد</a>
            <a href="/hafez/poem/105">صوفی ار باده به اندازه خورد نوشش باد</a>
            <a href="/hafez/poem/106">تنت به ناز طبيبان نيازمند مباد</a>
            <a href="/hafez/poem/107">حسن تو هميشه در فزون باد</a>
            <a href="/hafez/poem/108">خسروا گوی فلک در خم چوگان تو باد</a>
            <a href="/hafez/poem/109">دير است که دلدار پيامی نفرستاد</a>
            <a href="/hafez/poem/110">پيرانه سرم عشق جوانی به سر افتاد</a>
            <a href="/hafez/poem/111">عکس روی تو چو در آينه جام افتاد</a>
            <a href="/hafez/poem/112">آن که رخسار تو را رنگ گل و نسرين داد</a>
            <a href="/hafez/poem/113">بنفشه دوش به گل گفت و خوش نشانی داد</a>
            <a href="/hafez/poem/114">همای اوج سعادت به دام ما افتد</a>
            <a href="/hafez/poem/115">درخت دوستی بنشان که کام دل به بار آرد</a>
            <a href="/hafez/poem/116">کسی که حسن و خط دوست در نظر دارد</a>
            <a href="/hafez/poem/117">دل ما به دور رويت ز چمن فراغ دارد</a>
            <a href="/hafez/poem/118">آن کس که به دست جام دارد</a>
            <a href="/hafez/poem/119">دلی که غيب نمای است و جام جم دارد</a>
            <a href="/hafez/poem/120">بتی دارم که گرد گل ز سنبل سايه بان دارد</a>
            <a href="/hafez/poem/121">هر آن کو خاطر مجموع و يار نازنين دارد</a>
            <a href="/hafez/poem/122">هر آن که جانب اهل خدا نگه دارد</a>
            <a href="/hafez/poem/123">مطرب عشق عجب ساز و نوايی دارد</a>
            <a href="/hafez/poem/124">آن که از سنبل او غاليه تابی دارد</a>
            <a href="/hafez/poem/125">شاهد آن نيست که مويی و ميانی دارد</a>
            <a href="/hafez/poem/126">جان بی جمال جانان ميل جهان ندارد</a>
            <a href="/hafez/poem/127">روشنی طلعت تو ماه ندارد</a>
            <a href="/hafez/poem/128">نيست در شهر نگاری که دل ما ببرد</a>
            <a href="/hafez/poem/129">اگر نه باده غم دل ز ياد ما ببرد</a>
            <a href="/hafez/poem/130">سحر بلبل حکايت با صبا کرد</a>
            <a href="/hafez/poem/131">بيا که ترک فلک خوان روزه غارت کرد</a>
            <a href="/hafez/poem/132">به آب روشن می عارفی طهارت کرد</a>
            <a href="/hafez/poem/133">صوفی نهاد دام و سر حقه باز کرد</a>
            <a href="/hafez/poem/134">بلبلی خون دلی خورد و گلی حاصل کرد</a>
            <a href="/hafez/poem/135">چو باد عزم سر کوی يار خواهم کرد</a>
            <a href="/hafez/poem/136">دست در حلقه آن زلف دوتا نتوان کرد</a>
            <a href="/hafez/poem/137">دل از من برد و روی از من نهان کرد</a>
            <a href="/hafez/poem/138">ياد باد آن که ز ما وقت سفر ياد نکرد</a>
            <a href="/hafez/poem/139">رو بر رهش نهادم و بر من گذر نکرد</a>
            <a href="/hafez/poem/140">دلبر برفت و دلشدگان را خبر نکرد</a>
            <a href="/hafez/poem/141">ديدی ای دل که غم عشق دگربار چه کرد</a>
            <a href="/hafez/poem/142">دوستان دختر رز توبه ز مستوری کرد</a>
            <a href="/hafez/poem/143">سالها دل طلب جام جم از ما میکرد</a>
            <a href="/hafez/poem/144">به سر جام جم آن گه نظر توانی کرد</a>
            <a href="/hafez/poem/145">چه مستيست ندانم که رو به ما آورد</a>
            <a href="/hafez/poem/146">صبا وقت سحر بويی ز زلف يار میآورد</a>
            <a href="/hafez/poem/147">نسيم باد صبا دوشم آگهی آورد</a>
            <a href="/hafez/poem/148">يارم چو قدح به دست گيرد</a>
            <a href="/hafez/poem/149">دلم جز مهر مه رويان طريقی بر نمیگيرد</a>
            <a href="/hafez/poem/150">ساقی ار باده از اين دست به جام اندازد</a>
            <a href="/hafez/poem/151">دمی با غم به سر بردن جهان يک سر نمیارزد</a>
            <a href="/hafez/poem/152">در ازل پرتو حسنت ز تجلی دم زد</a>
            <a href="/hafez/poem/153">سحر چون خسرو خاور علم بر کوهساران زد</a>
            <a href="/hafez/poem/154">راهی بزن که آهی بر ساز آن توان زد</a>
            <a href="/hafez/poem/155">اگر روم ز پی اش فتنهها برانگيزد</a>
            <a href="/hafez/poem/156">به حسن و خلق و وفا کس به يار ما نرسد</a>
            <a href="/hafez/poem/157">هر که را با خط سبزت سر سودا باشد</a>
            <a href="/hafez/poem/158">من و انکار شراب اين چه حکايت باشد</a>
            <a href="/hafez/poem/159">نقد صوفی نه همه صافی بیغش باشد</a>
            <a href="/hafez/poem/160">خوش است خلوت اگر يار يار من باشد</a>
            <a href="/hafez/poem/161">کی شعر تر انگيزد خاطر که حزين باشد</a>
            <a href="/hafez/poem/162">خوش آمد گل وز آن خوشتر نباشد</a>
            <a href="/hafez/poem/163">گل بی رخ يار خوش نباشد</a>
            <a href="/hafez/poem/164">نفس باد صبا مشک فشان خواهد شد</a>
            <a href="/hafez/poem/165">مرا مهر سيه چشمان ز سر بيرون نخواهد شد</a>
            <a href="/hafez/poem/166">روز هجران و شب فرقت يار آخر شد</a>
            <a href="/hafez/poem/167">ستارهای بدرخشيد و ماه مجلس شد</a>
            <a href="/hafez/poem/168">گداخت جان که شود کار دل تمام و نشد</a>
            <a href="/hafez/poem/169">ياری اندر کس نمیبينيم ياران را چه شد</a>
            <a href="/hafez/poem/170">زاهد خلوت نشين دوش به ميخانه شد</a>
            <a href="/hafez/poem/171">دوش از جناب آصف پيک بشارت آمد</a>
            <a href="/hafez/poem/172">عشق تو نهال حيرت آمد</a>
            <a href="/hafez/poem/173">در نمازم خم ابروی تو با ياد آمد</a>
            <a href="/hafez/poem/174">مژده ای دل که دگر باد صبا بازآمد</a>
            <a href="/hafez/poem/175">صبا به تهنيت پير می فروش آمد</a>
            <a href="/hafez/poem/176">سحرم دولت بيدار به بالين آمد</a>
            <a href="/hafez/poem/177">نه هر که چهره برافروخت دلبری داند</a>
            <a href="/hafez/poem/178">هر که شد محرم دل در حرم يار بماند</a>
            <a href="/hafez/poem/179">رسيد مژده که ايام غم نخواهد ماند</a>
            <a href="/hafez/poem/180">ای پسته تو خنده زده بر حديث قند</a>
            <a href="/hafez/poem/181">بعد از اين دست من و دامن آن سرو بلند</a>
            <a href="/hafez/poem/182">حسب حالی ننوشتی و شد ايامی چند</a>
            <a href="/hafez/poem/183">دوش وقت سحر از غصه نجاتم دادند</a>
            <a href="/hafez/poem/184">دوش ديدم که ملايک در ميخانه زدند</a>
            <a href="/hafez/poem/185">نقدها را بود آيا که عياری گيرند</a>
            <a href="/hafez/poem/186">گر می فروش حاجت رندان روا کند</a>
            <a href="/hafez/poem/187">دلا بسوز که سوز تو کارها بکند</a>
            <a href="/hafez/poem/188">مرا به رندی و عشق آن فضول عيب کند</a>
            <a href="/hafez/poem/189">طاير دولت اگر باز گذاری بکند</a>
            <a href="/hafez/poem/190">کلک مشکين تو روزی که ز ما ياد کند</a>
            <a href="/hafez/poem/191">آن کيست کز روی کرم با ما وفاداری کند</a>
            <a href="/hafez/poem/192">سرو چمان من چرا ميل چمن نمیکند</a>
            <a href="/hafez/poem/193">در نظربازی ما بیخبران حيرانند</a>
            <a href="/hafez/poem/194">سمن بويان غبار غم چو بنشينند بنشانند</a>
            <a href="/hafez/poem/195">غلام نرگس مست تو تاجدارانند</a>
            <a href="/hafez/poem/196">آنان که خاک را به نظر کيميا کنند</a>
            <a href="/hafez/poem/197">شاهدان گر دلبری زين سان کنند</a>
            <a href="/hafez/poem/198">گفتم کی ام دهان و لبت کامران کنند</a>
            <a href="/hafez/poem/199">واعظان کاين جلوه در محراب و منبر میکنند</a>
            <a href="/hafez/poem/200">دانی که چنگ و عود چه تقرير میکنند</a>
            <a href="/hafez/poem/201">شراب بیغش و ساقی خوش دو دام رهند</a>
            <a href="/hafez/poem/202">بود آيا که در ميکدهها بگشايند</a>
            <a href="/hafez/poem/203">سالها دفتر ما در گرو صهبا بود</a>
            <a href="/hafez/poem/204">ياد باد آن که نهانت نظری با ما بود</a>
            <a href="/hafez/poem/205">تا ز ميخانه و می نام و نشان خواهد بود</a>
            <a href="/hafez/poem/206">پيش از اينت بيش از اين انديشه عشاق بود</a>
            <a href="/hafez/poem/207">ياد باد آن که سر کوی توام منزل بود</a>
            <a href="/hafez/poem/208">خستگان را چو طلب باشد و قوت نبود</a>
            <a href="/hafez/poem/209">قتل اين خسته به شمشير تو تقدير نبود</a>
            <a href="/hafez/poem/210">دوش در حلقه ما قصه گيسوی تو بود</a>
            <a href="/hafez/poem/211">دوش میآمد و رخساره برافروخته بود</a>
            <a href="/hafez/poem/212">يک دو جامم دی سحرگه اتفاق افتاده بود</a>
            <a href="/hafez/poem/213">گوهر مخزن اسرار همان است که بود</a>
            <a href="/hafez/poem/214">ديدم به خواب خوش که به دستم پياله بود</a>
            <a href="/hafez/poem/215">به کوی ميکده يا رب سحر چه مشغله بود</a>
            <a href="/hafez/poem/216">آن يار کز او خانه ما جای پری بود</a>
            <a href="/hafez/poem/217">مسلمانان مرا وقتی دلی بود</a>
            <a href="/hafez/poem/218">در ازل هر کو به فيض دولت ارزانی بود</a>
            <a href="/hafez/poem/219">کنون که در چمن آمد گل از عدم به وجود</a>
            <a href="/hafez/poem/220">از ديده خون دل همه بر روی ما رود</a>
            <a href="/hafez/poem/221">چو دست بر سر زلفش زنم به تاب رود</a>
            <a href="/hafez/poem/222">از سر کوی تو هر کو به ملالت برود</a>
            <a href="/hafez/poem/223">هرگزم نقش تو از لوح دل و جان نرود</a>
            <a href="/hafez/poem/224">خوشا دلی که مدام از پی نظر نرود</a>
            <a href="/hafez/poem/225">ساقی حديث سرو و گل و لاله میرود</a>
            <a href="/hafez/poem/226">ترسم که اشک در غم ما پرده در شود</a>
            <a href="/hafez/poem/227">گر چه بر واعظ شهر اين سخن آسان نشود</a>
            <a href="/hafez/poem/228">گر من از باغ تو يک ميوه بچينم چه شود</a>
            <a href="/hafez/poem/229">بخت از دهان دوست نشانم نمیدهد</a>
            <a href="/hafez/poem/230">اگر به باده مشکين دلم کشد شايد</a>
            <a href="/hafez/poem/231">گفتم غم تو دارم گفتا غمت سر آيد</a>
            <a href="/hafez/poem/232">بر سر آنم که گر ز دست برآيد</a>
            <a href="/hafez/poem/233">دست از طلب ندارم تا کام من برآيد</a>
            <a href="/hafez/poem/234">چو آفتاب می از مشرق پياله برآيد</a>
            <a href="/hafez/poem/235">زهی خجسته زمانی که يار بازآيد</a>
            <a href="/hafez/poem/236">اگر آن طاير قدسی ز درم بازآيد</a>
            <a href="/hafez/poem/237">نفس برآمد و کام از تو بر نمیآيد</a>
            <a href="/hafez/poem/238">جهان بر ابروی عيد از هلال وسمه کشيد</a>
            <a href="/hafez/poem/239">رسيد مژده که آمد بهار و سبزه دميد</a>
            <a href="/hafez/poem/240">ابر آذاری برآمد باد نوروزی وزيد</a>
            <a href="/hafez/poem/241">معاشران ز حريف شبانه ياد آريد</a>
            <a href="/hafez/poem/242">بيا که رايت منصور پادشاه رسيد</a>
            <a href="/hafez/poem/243">بوی خوش تو هر که ز باد صبا شنيد</a>
            <a href="/hafez/poem/244">معاشران گره از زلف يار باز کنيد</a>
            <a href="/hafez/poem/245">الا ای طوطی گويای اسرار</a>
            <a href="/hafez/poem/246">عيد است و آخر گل و ياران در انتظار</a>
            <a href="/hafez/poem/247">صبا ز منزل جانان گذر دريغ مدار</a>
            <a href="/hafez/poem/248">ای صبا نکهتی از کوی فلانی به من آر</a>
            <a href="/hafez/poem/249">ای صبا نکهتی از خاک ره يار بيار</a>
            <a href="/hafez/poem/250">روی بنمای و وجود خودم از ياد ببر</a>
            <a href="/hafez/poem/251">شب وصل است و طی شد نامه هجر</a>
            <a href="/hafez/poem/252">گر بود عمر به ميخانه رسم بار دگر</a>
            <a href="/hafez/poem/253">ای خرم از فروغ رخت لاله زار عمر</a>
            <a href="/hafez/poem/254">ديگر ز شاخ سرو سهی بلبل صبور</a>
            <a href="/hafez/poem/255">يوسف گمگشته بازآيد به کنعان غم مخور</a>
            <a href="/hafez/poem/256">نصيحتی کنمت بشنو و بهانه مگير</a>
            <a href="/hafez/poem/257">روی بنما و مرا گو که ز جان دل برگير</a>
            <a href="/hafez/poem/258">هزار شکر که ديدم به کام خويشت باز</a>
            <a href="/hafez/poem/259">منم که ديده به ديدار دوست کردم باز</a>
            <a href="/hafez/poem/260">ای سرو ناز حسن که خوش میروی به ناز</a>
            <a href="/hafez/poem/261">درآ که در دل خسته توان درآيد باز</a>
            <a href="/hafez/poem/262">حال خونين دلان که گويد باز</a>
            <a href="/hafez/poem/263">بيا و کشتی ما در شط شراب انداز</a>
            <a href="/hafez/poem/264">خيز و در کاسه زر آب طربناک انداز</a>
            <a href="/hafez/poem/265">برنيامد از تمنای لبت کامم هنوز</a>
            <a href="/hafez/poem/266">دلم رميده لولیوشيست شورانگيز</a>
            <a href="/hafez/poem/267">ای صبا گر بگذری بر ساحل رود ارس</a>
            <a href="/hafez/poem/268">گلعذاری ز گلستان جهان ما را بس</a>
            <a href="/hafez/poem/269">دلا رفيق سفر بخت نيکخواهت بس</a>
            <a href="/hafez/poem/270">درد عشقی کشيدهام که مپرس</a>
            <a href="/hafez/poem/271">دارم از زلف سياهش گله چندان که مپرس</a>
            <a href="/hafez/poem/272">بازآی و دل تنگ مرا مونس جان باش</a>
            <a href="/hafez/poem/273">اگر رفيق شفيقی درست پيمان باش</a>
            <a href="/hafez/poem/274">به دور لاله قدح گير و بیريا میباش</a>
            <a href="/hafez/poem/275">صوفی گلی بچين و مرقع به خار بخش</a>
            <a href="/hafez/poem/276">باغبان گر پنج روزی صحبت گل بايدش</a>
            <a href="/hafez/poem/277">فکر بلبل همه آن است که گل شد يارش</a>
            <a href="/hafez/poem/278">شراب تلخ میخواهم که مردافکن بود زورش</a>
            <a href="/hafez/poem/279">خوشا شيراز و وضع بیمثالش</a>
            <a href="/hafez/poem/280">چو برشکست صبا زلف عنبرافشانش</a>
            <a href="/hafez/poem/281">يا رب اين نوگل خندان که سپردی به منش</a>
            <a href="/hafez/poem/282">ببرد از من قرار و طاقت و هوش</a>
            <a href="/hafez/poem/283">سحر ز هاتف غيبم رسيد مژده به گوش</a>
            <a href="/hafez/poem/284">هاتفی از گوشه ميخانه دوش</a>
            <a href="/hafez/poem/285">در عهد پادشاه خطابخش جرم پوش</a>
            <a href="/hafez/poem/286">دوش با من گفت پنهان کاردانی تيزهوش</a>
            <a href="/hafez/poem/287">ای همه شکل تو مطبوع و همه جای تو خوش</a>
            <a href="/hafez/poem/288">کنار آب و پای بيد و طبع شعر و ياری خوش</a>
            <a href="/hafez/poem/289">مجمع خوبی و لطف است عذار چو مهش</a>
            <a href="/hafez/poem/290">دلم رميده شد و غافلم من درويش</a>
            <a href="/hafez/poem/291">ما آزمودهايم در اين شهر بخت خويش</a>
            <a href="/hafez/poem/292">قسم به حشمت و جاه و جلال شاه شجاع</a>
            <a href="/hafez/poem/293">بامدادان که ز خلوتگه کاخ ابداع</a>
            <a href="/hafez/poem/294">در وفای عشق تو مشهور خوبانم چو شمع</a>
            <a href="/hafez/poem/295">سحر به بوی گلستان دمی شدم در باغ</a>
            <a href="/hafez/poem/296">طالع اگر مدد دهد دامنش آورم به کف</a>
            <a href="/hafez/poem/297">زبان خامه ندارد سر بيان فراق</a>
            <a href="/hafez/poem/298">مقام امن و می بیغش و رفيق شفيق</a>
            <a href="/hafez/poem/299">اگر شراب خوری جرعهای فشان بر خاک</a>
            <a href="/hafez/poem/300">هزار دشمنم ار میکنند قصد هلاک</a>
            <a href="/hafez/poem/301">ای دل ريش مرا با لب تو حق نمک</a>
            <a href="/hafez/poem/302">خوش خبر باشی ای نسيم شمال</a>
            <a href="/hafez/poem/303">شممت روح وداد و شمت برق وصال</a>
            <a href="/hafez/poem/304">دارای جهان نصرت دين خسرو کامل</a>
            <a href="/hafez/poem/305">به وقت گل شدم از توبه شراب خجل</a>
            <a href="/hafez/poem/306">اگر به کوی تو باشد مرا مجال وصول</a>
            <a href="/hafez/poem/307">هر نکتهای که گفتم در وصف آن شمايل</a>
            <a href="/hafez/poem/308">ای رخت چون خلد و لعلت سلسبيل</a>
            <a href="/hafez/poem/309">عشقبازی و جوانی و شراب لعل فام</a>
            <a href="/hafez/poem/310">مرحبا طاير فرخ پی فرخنده پيام</a>
            <a href="/hafez/poem/311">عاشق روی جوانی خوش نوخاستهام</a>
            <a href="/hafez/poem/312">بشری اذ السلامه حلت بذی سلم</a>
            <a href="/hafez/poem/313">بازآی ساقيا که هواخواه خدمتم</a>
            <a href="/hafez/poem/314">دوش بيماری چشم تو ببرد از دستم</a>
            <a href="/hafez/poem/315">به غير از آن که بشد دين و دانش از دستم</a>
            <a href="/hafez/poem/316">زلف بر باد مده تا ندهی بر بادم</a>
            <a href="/hafez/poem/317">فاش میگويم و از گفته خود دلشادم</a>
            <a href="/hafez/poem/318">مرا میبينی و هر دم زيادت میکنی دردم</a>
            <a href="/hafez/poem/319">سالها پيروی مذهب رندان کردم</a>
            <a href="/hafez/poem/320">ديشب به سيل اشک ره خواب میزدم</a>
            <a href="/hafez/poem/321">هر چند پير و خسته دل و ناتوان شدم</a>
            <a href="/hafez/poem/322">خيال نقش تو در کارگاه ديده کشيدم</a>
            <a href="/hafez/poem/323">ز دست کوته خود زير بارم</a>
            <a href="/hafez/poem/324">گر چه افتاد ز زلفش گرهی در کارم</a>
            <a href="/hafez/poem/325">گر دست دهد خاک کف پای نگارم</a>
            <a href="/hafez/poem/326">در نهانخانه عشرت صنمی خوش دارم</a>
            <a href="/hafez/poem/327">مرا عهديست با جانان که تا جان در بدن دارم</a>
            <a href="/hafez/poem/328">من که باشم که بر آن خاطر عاطر گذرم</a>
            <a href="/hafez/poem/329">جوزا سحر نهاد حمايل برابرم</a>
            <a href="/hafez/poem/330">تو همچو صبحی و من شمع خلوت سحرم</a>
            <a href="/hafez/poem/331">به تيغم گر کشد دستش نگيرم</a>
            <a href="/hafez/poem/332">مزن بر دل ز نوک غمزه تيرم</a>
            <a href="/hafez/poem/333">نماز شام غريبان چو گريه آغازم</a>
            <a href="/hafez/poem/334">گر دست رسد در سر زلفين تو بازم</a>
            <a href="/hafez/poem/335">در خرابات مغان گر گذر افتد بازم</a>
            <a href="/hafez/poem/336">مژده وصل تو کو کز سر جان برخيزم</a>
            <a href="/hafez/poem/337">چرا نه در پی عزم ديار خود باشم</a>
            <a href="/hafez/poem/338">من دوستدار روی خوش و موی دلکشم</a>
            <a href="/hafez/poem/339">خيال روی تو چون بگذرد به گلشن چشم</a>
            <a href="/hafez/poem/340">من که از آتش دل چون خم می در جوشم</a>
            <a href="/hafez/poem/341">گر من از سرزنش مدعيان انديشم</a>
            <a href="/hafez/poem/342">حجاب چهره جان میشود غبار تنم</a>
            <a href="/hafez/poem/343">چل سال بيش رفت که من لاف میزنم</a>
            <a href="/hafez/poem/344">عمريست تا من در طلب هر روز گامی میزنم</a>
            <a href="/hafez/poem/345">بی تو ای سرو روان با گل و گلشن چه کنم</a>
            <a href="/hafez/poem/346">من نه آن رندم که ترک شاهد و ساغر کنم</a>
            <a href="/hafez/poem/347">صنما با غم عشق تو چه تدبير کنم</a>
            <a href="/hafez/poem/348">ديده دريا کنم و صبر به صحرا فکنم</a>
            <a href="/hafez/poem/349">دوش سودای رخش گفتم ز سر بيرون کنم</a>
            <a href="/hafez/poem/350">به عزم توبه سحر گفتم استخاره کنم</a>
            <a href="/hafez/poem/351">حاشا که من به موسم گل ترک می کنم</a>
            <a href="/hafez/poem/352">روزگاری شد که در ميخانه خدمت میکنم</a>
            <a href="/hafez/poem/353">من ترک عشق شاهد و ساغر نمیکنم</a>
            <a href="/hafez/poem/354">به مژگان سيه کردی هزاران رخنه در دينم</a>
            <a href="/hafez/poem/355">حاليا مصلحت وقت در آن میبينم</a>
            <a href="/hafez/poem/356">گرم از دست برخيزد که با دلدار بنشينم</a>
            <a href="/hafez/poem/357">در خرابات مغان نور خدا میبينم</a>
            <a href="/hafez/poem/358">غم زمانه که هيچش کران نمیبينم</a>
            <a href="/hafez/poem/359">خرم آن روز کز اين منزل ويران بروم</a>
            <a href="/hafez/poem/360">گر از اين منزل ويران به سوی خانه روم</a>
            <a href="/hafez/poem/361">آن که پامال جفا کرد چو خاک راهم</a>
            <a href="/hafez/poem/362">ديدار شد ميسر و بوس و کنار هم</a>
            <a href="/hafez/poem/363">دردم از يار است و درمان نيز هم</a>
            <a href="/hafez/poem/364">ما بی غمان مست دل از دست دادهايم</a>
            <a href="/hafez/poem/365">عمريست تا به راه غمت رو نهادهايم</a>
            <a href="/hafez/poem/366">ما بدين در نه پی حشمت و جاه آمدهايم</a>
            <a href="/hafez/poem/367">فتوی پير مغان دارم و قوليست قديم</a>
            <a href="/hafez/poem/368">خيز تا از در ميخانه گشادی طلبيم</a>
            <a href="/hafez/poem/369">ما ز ياران چشم ياری داشتيم</a>
            <a href="/hafez/poem/370">صلاح از ما چه میجويی که مستان را صلا گفتيم</a>
            <a href="/hafez/poem/371">ما درس سحر در ره ميخانه نهاديم</a>
            <a href="/hafez/poem/372">بگذار تا ز شارع ميخانه بگذريم</a>
            <a href="/hafez/poem/373">خيز تا خرقه صوفی به خرابات بريم</a>
            <a href="/hafez/poem/374">بيا تا گل برافشانيم و می در ساغر اندازيم</a>
            <a href="/hafez/poem/375">صوفی بيا که خرقه سالوس برکشيم</a>
            <a href="/hafez/poem/376">دوستان وقت گل آن به که به عشرت کوشيم</a>
            <a href="/hafez/poem/377">ما شبی دست برآريم و دعايی بکنيم</a>
            <a href="/hafez/poem/378">ما نگوييم بد و ميل به ناحق نکنيم</a>
            <a href="/hafez/poem/379">سرم خوش است و به بانگ بلند میگويم</a>
            <a href="/hafez/poem/380">بارها گفتهام و بار دگر میگويم</a>
            <a href="/hafez/poem/381">گر چه ما بندگان پادشهيم</a>
            <a href="/hafez/poem/382">فاتحهای چو آمدی بر سر خستهای بخوان</a>
            <a href="/hafez/poem/383">چندان که گفتم غم با طبيبان</a>
            <a href="/hafez/poem/384">میسوزم از فراقت روی از جفا بگردان</a>
            <a href="/hafez/poem/385">يا رب آن آهوی مشکين به ختن بازرسان</a>
            <a href="/hafez/poem/386">خدا را کم نشين با خرقه پوشان</a>
            <a href="/hafez/poem/387">شاه شمشادقدان خسرو شيرين دهنان</a>
            <a href="/hafez/poem/388">بهار و گل طرب انگيز گشت و توبه شکن</a>
            <a href="/hafez/poem/389">چو گل هر دم به بويت جامه در تن</a>
            <a href="/hafez/poem/390">افسر سلطان گل پيدا شد از طرف چمن</a>
            <a href="/hafez/poem/391">خوشتر از فکر می و جام چه خواهد بودن</a>
            <a href="/hafez/poem/392">دانی که چيست دولت ديدار يار ديدن</a>
            <a href="/hafez/poem/393">منم که شهره شهرم به عشق ورزيدن</a>
            <a href="/hafez/poem/394">ای روی ماه منظر تو نوبهار حسن</a>
            <a href="/hafez/poem/395">گلبرگ را ز سنبل مشکين نقاب کن</a>
            <a href="/hafez/poem/396">صبح است ساقيا قدحی پرشراب کن</a>
            <a href="/hafez/poem/397">ز در درآ و شبستان ما منور کن</a>
            <a href="/hafez/poem/398">ای نور چشم من سخنی هست گوش کن</a>
            <a href="/hafez/poem/399">کرشمهای کن و بازار ساحری بشکن</a>
            <a href="/hafez/poem/400">بالابلند عشوه گر نقش باز من</a>
            <a href="/hafez/poem/401">چون شوم خاک رهش دامن بيفشاند ز من</a>
            <a href="/hafez/poem/402">نکتهای دلکش بگويم خال آن مه رو ببين</a>
            <a href="/hafez/poem/403">شراب لعل کش و روی مه جبينان بين</a>
            <a href="/hafez/poem/404">میفکن بر صف رندان نظری بهتر از اين</a>
            <a href="/hafez/poem/405">به جان پير خرابات و حق صحبت او</a>
            <a href="/hafez/poem/406">گفتا برون شدی به تماشای ماه نو</a>
            <a href="/hafez/poem/407">مزرع سبز فلک ديدم و داس مه نو</a>
            <a href="/hafez/poem/408">ای آفتاب آينه دار جمال تو</a>
            <a href="/hafez/poem/409">ای خونبهای نافه چين خاک راه تو</a>
            <a href="/hafez/poem/410">ای قبای پادشاهی راست بر بالای تو</a>
            <a href="/hafez/poem/411">تاب بنفشه میدهد طره مشک سای تو</a>
            <a href="/hafez/poem/412">مرا چشميست خون افشان ز دست آن کمان ابرو</a>
            <a href="/hafez/poem/413">خط عذار يار که بگرفت ماه از او</a>
            <a href="/hafez/poem/414">گلبن عيش میدمد ساقی گلعذار کو</a>
            <a href="/hafez/poem/415">ای پيک راستان خبر يار ما بگو</a>
            <a href="/hafez/poem/416">خنک نسيم معنبر شمامهای دلخواه</a>
            <a href="/hafez/poem/417">عيشم مدام است از لعل دلخواه</a>
            <a href="/hafez/poem/418">گر تيغ بارد در کوی آن ماه</a>
            <a href="/hafez/poem/419">وصال او ز عمر جاودان به</a>
            <a href="/hafez/poem/420">ناگهان پرده برانداختهای يعنی چه</a>
            <a href="/hafez/poem/421">در سرای مغان رفته بود و آب زده</a>
            <a href="/hafez/poem/422">ای که با سلسله زلف دراز آمدهای</a>
            <a href="/hafez/poem/423">دوش رفتم به در ميکده خواب آلوده</a>
            <a href="/hafez/poem/424">از من جدا مشو که توام نور ديدهای</a>
            <a href="/hafez/poem/425">دامن کشان همیشد در شرب زرکشيده</a>
            <a href="/hafez/poem/426">از خون دل نوشتم نزديک دوست نامه</a>
            <a href="/hafez/poem/427">چراغ روی تو را شمع گشت پروانه</a>
            <a href="/hafez/poem/428">سحرگاهان که مخمور شبانه</a>
            <a href="/hafez/poem/429">ساقی بيا که شد قدح لاله پر ز می</a>
            <a href="/hafez/poem/430">به صوت بلبل و قمری اگر ننوشی می</a>
            <a href="/hafez/poem/431">لبش میبوسم و در میکشم می</a>
            <a href="/hafez/poem/432">مخمور جام عشقم ساقی بده شرابی</a>
            <a href="/hafez/poem/433">ای که بر ماه از خط مشکين نقاب انداختی</a>
            <a href="/hafez/poem/434">ای دل مباش يک دم خالی ز عشق و مستی</a>
            <a href="/hafez/poem/435">با مدعی مگوييد اسرار عشق و مستی</a>
            <a href="/hafez/poem/436">آن غاليه خط گر سوی ما نامه نوشتی</a>
            <a href="/hafez/poem/437">ای قصه بهشت ز کويت حکايتی</a>
            <a href="/hafez/poem/438">سبت سلمی بصدغيها فادی</a>
            <a href="/hafez/poem/439">ديدم به خواب دوش که ماهی برآمدی</a>
            <a href="/hafez/poem/440">سحر با باد میگفتم حديث آرزومندی</a>
            <a href="/hafez/poem/441">چه بودی ار دل آن ماه مهربان بودی</a>
            <a href="/hafez/poem/442">به جان او که گرم دسترس به جان بودی</a>
            <a href="/hafez/poem/443">چو سرو اگر بخرامی دمی به گلزاری</a>
            <a href="/hafez/poem/444">شهريست پرظريفان و از هر طرف نگاری</a>
            <a href="/hafez/poem/445">تو را که هر چه مراد است در جهان داری</a>
            <a href="/hafez/poem/446">صبا تو نکهت آن زلف مشک بو داری</a>
            <a href="/hafez/poem/447">بيا با ما مورز اين کينه داری</a>
            <a href="/hafez/poem/448">ای که در کوی خرابات مقامی داری</a>
            <a href="/hafez/poem/449">ای که مهجوری عشاق روا میداری</a>
            <a href="/hafez/poem/450">روزگاريست که ما را نگران میداری</a>
            <a href="/hafez/poem/451">خوش کرد ياوری فلکت روز داوری</a>
            <a href="/hafez/poem/452">طفيل هستی عشقند آدمی و پری</a>
            <a href="/hafez/poem/453">ای که دايم به خويش مغروری</a>
            <a href="/hafez/poem/454">ز کوی يار میآيد نسيم باد نوروزی</a>
            <a href="/hafez/poem/455">عمر بگذشت به بیحاصلی و بوالهوسی</a>
            <a href="/hafez/poem/456">نوبهار است در آن کوش که خوشدل باشی</a>
            <a href="/hafez/poem/457">هزار جهد بکردم که يار من باشی</a>
            <a href="/hafez/poem/458">ای دل آن دم که خراب از می گلگون باشی</a>
            <a href="/hafez/poem/459">زين خوش رقم که بر گل رخسار میکشی</a>
            <a href="/hafez/poem/460">سليمی منذ حلت بالعراق</a>
            <a href="/hafez/poem/461">کتبت قصه شوقی و مدمعی باکی</a>
            <a href="/hafez/poem/462">يا مبسما يحاکی درجا من اللالی</a>
            <a href="/hafez/poem/463">سلام الله ما کر الليالی</a>
            <a href="/hafez/poem/464">بگرفت کار حسنت چون عشق من کمالی</a>
            <a href="/hafez/poem/465">رفتم به باغ صبحدمی تا چنم گلی</a>
            <a href="/hafez/poem/466">اين خرقه که من دارم در رهن شراب اولی</a>
            <a href="/hafez/poem/467">زان می عشق کز او پخته شود هر خامی</a>
            <a href="/hafez/poem/468">که برد به نزد شاهان ز من گدا پيامی</a>
            <a href="/hafez/poem/469">انت رواح رند الحمی و زاد غرامی</a>
            <a href="/hafez/poem/470">سينه مالامال درد است ای دريغا مرهمی</a>
            <a href="/hafez/poem/471">ز دلبرم که رساند نوازش قلمی</a>
            <a href="/hafez/poem/472">احمد الله علی معدله السلطان</a>
            <a href="/hafez/poem/473">وقت را غنيمت دان آن قدر که بتوانی</a>
            <a href="/hafez/poem/474">هواخواه توام جانا و میدانم که میدانی</a>
            <a href="/hafez/poem/475">گفتند خلايق که تويی يوسف ثانی</a>
            <a href="/hafez/poem/476">نسيم صبح سعادت بدان نشان که تو دانی</a>
            <a href="/hafez/poem/477">دو يار زيرک و از باده کهن دومنی</a>
            <a href="/hafez/poem/478">نوش کن جام شراب يک منی</a>
            <a href="/hafez/poem/479">صبح است و ژاله میچکد از ابر بهمنی</a>
            <a href="/hafez/poem/480">ای که در کشتن ما هيچ مدارا نکنی</a>
            <a href="/hafez/poem/481">بشنو اين نکته که خود را ز غم آزاده کنی</a>
            <a href="/hafez/poem/482">ای دل به کوی عشق گذاری نمیکنی</a>
            <a href="/hafez/poem/483">سحرگه ره روی در سرزمينی</a>
            <a href="/hafez/poem/484">تو مگر بر لب آبی به هوس بنشينی</a>
            <a href="/hafez/poem/485">ساقيا سايه ابر است و بهار و لب جوی</a>
            <a href="/hafez/poem/486">بلبل ز شاخ سرو به گلبانگ پهلوی</a>
            <a href="/hafez/poem/487">ای بیخبر بکوش که صاحب خبر شوی</a>
            <a href="/hafez/poem/488">سحرم هاتف ميخانه به دولتخواهی</a>
            <a href="/hafez/poem/489">ای در رخ تو پيدا انوار پادشاهی</a>
            <a href="/hafez/poem/490">در همه دير مغان نيست چو من شيدايی</a>
            <a href="/hafez/poem/491">به چشم کردهام ابروی ماه سيمايی</a>
            <a href="/hafez/poem/492">سلامی چو بوی خوش آشنايی</a>
            <a href="/hafez/poem/493">ای پادشه خوبان داد از غم تنهايی</a>
            <a href="/hafez/poem/494">ای دل گر از آن چاه زنخدان به درآيی</a>
            <a href="/hafez/poem/495">می خواه و گل افشان کن از دهر چه میجويی</a>
        </p>
    </main>
</body>

</html>