<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Persian Poetry</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Lemonada&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/style/style.css">
    <!-- <link rel="stylesheet" href="./style/style.css"> -->
    <link rel="stylesheet" th:href="@{/style/style.css}">


</head>

<body class="body">

    <div id="page-container">
        <div id="content-wrap">
            <p><a href="/hafez/">حافظ</a></p>
        </div>

        <footer id="footer">
            <p>created by &copy ehsan salmani</p>
            <p>
                all rights reserved |
                <script>document.write(new Date().getFullYear())</script>
            </p>
        </footer>
    </div>

</body>

</html>