<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css">
</head>

<body class="index-body">

    <h1>
        Welcome to Hafez Poetry
    </h1>

    <main class="index-main">
        <p><a href="/hafez/">Hafez</a></p>
        <p><a href="/poems-page">Molavi</a></p>
        <p><a href="/hafez/poem/1">Test</a></p>
    </main>

</body>

</html>